<div class="row pb-4">
    <div class="col-sm-12 col-md-12 text-sm-center text-md-left">
        <footer class="footer col-sm-12 col-md-12">
            <div class="container text-center p-4 pb-0">
                <span class="text-muted text-center">
                    <a href="https://twitter.com/awscloud" class="text-muted">Twitter</a>
                    &nbsp;
                    <a href="https://www.facebook.com/amazonwebservices" class="text-muted">Facebook</a>
                    &nbsp;
                    <a href="https://www.youtube.com/user/AmazonWebServices" class="text-muted">YouTube</a>
                    &nbsp;
                    <a href="https://www.linkedin.com/company/amazon-web-services/" class="text-muted">LinkedIn</a>
                </span>
            </div>
        </footer>
    </div>
</div>

<div class="row pb-4">
    <div class="col-sm-12 col-md-12 text-sm-center text-md-left">
        <footer class="footer col-sm-12 col-md-12">
            <div class="container text-center">
                <span class="text-muted text-center">
                <a href="/about.markdown" class="text-muted">About</a>
                </span>
            </div>
        </footer>
    </div>
</div>